html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(254, 121, 104);
  font-family: "Ubuntu", sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.top {
  text-align: center;
}
form {
  margin: 0 auto;
  display: grid;
  max-width: fit-content;
  border: 2px solid black;
  gap: 20px;
  padding: 20px;
}
input,
button {
  border-radius: 12px;
  border: none;
  padding: 4px;
  /* background: none; */
}
input:focus {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 10px black;
}
textarea:focus {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 10px black;
}
